
build/
bin/
lib/
*.dll
*.exp
*.lib
*.pdb
*.ilk
*.obj


.vs/
*.user
*.vcxproj
*.vcxproj.filters
*.sln


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile


.DS_Store
Thumbs.db

data/
collect_files.ps1
installer_script.iss
icon.ico